/*  Universal selector  */
* {
  box-sizing: border-box;
}

/*  Body selector  */
body {
  font-family: 'Merriweather', serif;
  font-size: 24px;
  color: slategray;
}

/**********************
    Header CSS rules
 **********************/
header {
  background-color: black;
  color: white;
  text-align: center;
}

h1 {
  margin: 0;
  padding: 30px 0;
  text-transform: uppercase;
  font-size: .9em;
}

/**********************
    Main CSS rules
 **********************/
.subheader {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

h2 {
  margin: 0;
  padding-top: 30px;
  font-size: .8em;
  color: black;
}

.subheader p {
  font-size: .6em;
  margin-bottom: 4px;
  padding-bottom: 40px;
  border-bottom: 7px solid black;
}

/*  form CSS rules  */
form {
  width: 90%;
  margin: 0 auto;
}

fieldset {
  border-top: 3px solid black;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 30px 0;
}

legend {
  position: absolute;
  font-weight: bold;
  font-size: .7em;
  color: black;
}

.info label,
.info input,
select,
textarea {
  display: block;
  font-size: .6em;
}

.info label {
  margin-top: 30px;
}

.info input,
select,
textarea {
  width: 100%;
  margin: 20px 5px 10px;
  padding: 15px 10px;
  border: none;
  background-color: #DCDCDC;
  border-radius: 7px;
  -webkit-transition: background-color 3s;
}

.info input {
  font-style: italic;
  text-align: right;
}

.info input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 3px solid gray;
  text-align: left;
  font-style: normal;
  background-color: white;
  color: black;
}

#zipcode {
  width: 60%;
}

Label.first,
p.first {
  margin-top: 50px;
}

.news p {
  font-size: .6em;
  margin-bottom: 10px;
}

.news label {
  font-size: .6em;
  display: inline-block;
  margin: 7px;
}

.news label.first {
  margin: 25px 0 5px;
}

input[type="button"] {
  display: block;
  width: 100%;
  font-weight: bold;
  margin: 40px 0 10px;
  padding: 15px 10px;
  background-color: #9AA7C6;
  color: white;
  border-radius: 7px;
}

input[type="button"]:focus {
  outline: none;
}

/**********************
    Footer CSS rules
 **********************/
footer {
  background-color: #CEDBFB;
  color: dimgray;
  padding: 20px 0;
}
footer p {
  font-size: .6em;
  font-style: italic;
  font-weight: bold;
  margin: 0;
  padding: 5px 50px;
}

/*****************************
    Media queries CSS rules
 *****************************/
@media only screen and (min-width:768px) {
  body {
    font-size: 32px;
    background: url("../images/background.jpg");
  }

  main {
    width: 70%;
    margin: 0 auto;
    background-color: #fefefe;
    padding: 20px;
  }

  .container {
    display: flex;
  }

  .container label {
    width: 25%;
    margin-top: 30px;
  }

  .container input,
  .container select {
    width: 75%;
  }

  .container.first {
    margin-top: 50px;
  }

  #zipcode {
    width: 30%;
  }

  footer {
    text-align: center;
  }
}
