/*  Universal selector  */
* {
  box-sizing: border-box;
}

/*  Body selector  */
body {
  font-family: 'Merriweather', serif;
  font-size: 24px;
  color: slategray;
}

/**********************
    Header CSS rules
 **********************/
header {
  background-color: black;
  color: white;
  text-align: center;
}
h1 {
  margin: 0;
  padding: 30px 0;
  text-transform: uppercase;
  font-size: 1em;
}

/**********************
    Main CSS rules
 **********************/
.subheader {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

h2 {
  margin: 0;
  padding-top: 30px;
  font-size: 1em;
  color: black;
}

.subheader p {
  font-size: .8em;
  margin-bottom: 4px;
  padding-bottom: 40px;
  border-bottom: 7px solid black;
}

/*  form CSS rules  */
form {
  width: 90%;
  margin: 0 auto;
}

fieldset {
  border-top: 3px solid black;
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding: 30px 0;
}

legend {
  position: absolute;
  font-weight: bold;
  font-size: 1em;
  color: black;
}

.info label,
.info input,
select,
textarea {
  display: block;
  font-size: .8em;
}

.info label {
  margin-top: 30px;
}

.info input,
select,
textarea {
  width: 100%;
  margin: 20px 0 10px;
  padding: 15px 10px;
  background-color: #DCDCDC;
  border: 3px solid #DCDCDC;
  border-radius: 7px;
}

.info input {
  font-style: italic;
  text-align: right;
}

.info input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: gray;
  text-align: left;
  font-style: normal;
}

#zipcode {
  width: 60%;
}

.first {
  margin-top: 50px;
}

.news p {
  font-size: .7em;
  margin-bottom: 10px;
}

.news label {
  font-size: .7em;
  display: inline-block;
  margin: 10px;
}

input[type="submit"] {
  display: block;
  width: 100%;
  font-weight: bold;
  margin: 40px 0 10px;
  padding: 15px 10px;
  background-color: #00BFFF;
  color: white;
  border: 3px solid #00BFFF;
  border-radius: 7px;
}

footer p {
  font-size: .8em;
  font-style: italic;
  font-weight: bold;
  margin: 0;
  padding: 5px 50px;
}
